.card__img1{
  max-height:300px;
  /* object-fit:contain; */
}


.colPic{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  
}


.col-STYLE{
  position: relative;
}
.col-STYLE:hover{
  transform: scaleY(1.1);
  cursor: pointer;

}
.cont5-overlay{
  background-color: rgba(232,172,125,0.4);
  position: absolute;
  width:94%;
  height: 100%;
  border-radius: 10px;

}

.customize{
  color: white;
  font-size: 25px;
  text-align: center;
  margin-top:500px;
  margin-left: 50px;
  font-weight: bold;
  cursor: pointer;
  font-style: italic;
}

.col-pic2{
  height: 100%;
  padding: 0px !important;
  position: relative;
  border-radius: 10px;

  
}
.colpic2{
  height:400px;
  width:100%;
}

.col-pic2:hover{
  transform: scaleY(1.1);
  cursor: pointer;

}

.cont-overlay{
  background-color: rgba(53,82,69,0.4);
  position: absolute;
  /* margin-top:20px; */
  width:100%;
  height: 100%;
  border-radius: 10px;

}
/* .cont-overlay:hover{
  transition: all 100ms ease-out;
  width:102%

} */
.Customize{
  color: white;
  font-size: 25px;
  text-align: center;
  margin-top:300px;
  margin-left: 50px;
  font-weight: bold;
  cursor: pointer;
  font-style: italic;
}

.col-pic3{
  height: 100%;
  padding: 0px !important;
  position: relative;
  border-radius: 15px;

  
}

.col-pic3:hover{
  transform: scaleY(1.1);
  cursor: pointer;
}

.cont2-overlay{
  background-color: rgba(132,75,9,0.4);
  position: absolute;
  /* margin-top:20px; */
  width:100%;
  height: 100%;
  border-radius: 15px;

}

.colpic3{
  height:400px;
  width:100%;
}

.col-pic4{
  height: 100%;
  padding: 0px !important;
  position: relative;
  border-radius: 15px;
  
  
}
.col-pic4:hover{
  transform: scaleY(1.1);
  cursor: pointer;

}
.cont3-overlay{
  background-color: rgba(182,98,84,0.4);
  position: absolute;
  /* margin-top:20px; */
  width:100%;
  height: 100%;
  border-radius: 15px;

}

.colpic4{
  height:400px;
  width:100%;
  border-radius: 15px;

}

.col-pic5{
  height: 100%;
  padding: 0px !important;
  position: relative;
  border-radius: 15px;

}
.col-pic5:hover{
transform: scaleY(1.1);
cursor: pointer;

}
.cont4-overlay{
  background-color: rgba(27,8,144,0.4);
  position: absolute;
  /* margin-top:20px; */
  width:100%;
  height: 100%;
  border-radius: 15px;

}

.colpic5{
  height:400px;
  width:100%;
  border-radius: 15px;

}
